.loading {
  width: 100vw;
  height: 100vh;
  //   background: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid rgba(255, 255, 255, 0.719);

  border-radius: 100%;

  animation: loadingRotate 1000ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(360deg);
  }
}

.loader {
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20% 20%;
  gap: calc(var(--size) / 2);
  height: calc(var(--size) * 5);
}
.loader div {
  width: var(--size);
  border-radius: var(--size);
  background-color: #ffd700;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  25% {
    height: calc(var(--size) * 5);
    background-color: #fc00ff;
  }
  50% {
    height: var(--size);
    background-color: #9c73f8;
  }
}

.loader :nth-child(1) {
  animation-delay: 0s;
}
.loader :nth-child(2) {
  animation-delay: 0.2s;
}
.loader :nth-child(3) {
  animation-delay: 0.4s;
}
.loader :nth-child(4) {
  animation-delay: 0.6s;
}
.loader :nth-child(5) {
  animation-delay: 0.8s;
}
.loader :nth-child(6) {
  animation-delay: 1s;
}
