.main-test-entry-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);

  padding: 20px 20px;
  

  .content {
    margin-top: 20px;
  }
}
