.main-test-entry-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  //   width: 62.5rem;
  background-color: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);

  padding: 20px 20px;
  //   border-radius: 20px;
}
