.major-test-report-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: white;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #cdc1ff;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}
