.org-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;

  .org-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 3px;
    background-color: #e8eff5;
    border-radius: 10px;
    .h2 {
      width: 100%;
      position: relative;
      padding: 5px;
      text-align: center !important;
      color: black;
    }

    .row {
      text-align: left;
      padding: 15px 0px;
      display: block;
      width: 100%;
    }
    // .row-details {
    //   text-align: left;
    //   padding: 15px 0px;
    //   display: block;
    //   width: 100%;
    //   height: 50%;
    // }

    // .label-input {
    //   width: max-content;
    //   font-size: 13px;
    //   font-weight: 600;
    //   padding-bottom: 5px;
    //   color: black;
    // }
    .label {
      width: max-content;
      font-size: 13px;
      font-weight: 600;
      padding-bottom: 5px;
      color: black;
    }

    .input {
      width: 320px;
      background-color: white;
      height: 32px;
      padding: 8px 12px;
      border-radius: 8px;
      border: 0.1px solid lightgrey;
    }
    .submin-org {
      width: 100%;
      height: 35px;
      padding: 0px 0px;
      font-weight: 600;
      margin-top: 5px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      background-color: #99cdfd;
      color: black;
    }

    .submin-org:hover {
      width: 100%;
      height: 35px;
      padding: 0px 0px;
      font-weight: 600;
      margin-top: 5px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      background-color: #278be8;
      color: black;
    }
  }
}
