.nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Salsa", cursive;
  padding: 20px 0;
  display: flex;
  //justify-content: space-evenly;
  background-color: #2d333b;
  color: rgb(255, 255, 255);
}
