.main-container {
  overflow: auto;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  display: flex;
  justify-content: center;
}

.majortest-container {
  //   height: calc(100vh - 10px);
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   margin-top: 39px;

  .majortest-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    border-radius: 10px;
    background-color: #e8eff5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    .h2 {
      width: 100%;
      margin-bottom: 19px;
      padding: 12px;
      text-align: center;
      color: #343a40;
      font-size: 26px;
      font-weight: 700;
      background: #e9ecef;
      border-radius: 8px;
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .label {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 4px;
      color: #495057;
    }

    .checkbox-label {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 4px;
      color: #343a40;
    }

    .span-container {
      display: flex;
      gap: 50px;
      justify-content: space-around;
    }

    .input {
      width: 90%;
      height: 40px;
      padding: 10px 16px;
      border-radius: 8px;
      border: 1px solid #ced4da;
      font-size: 14px;
      box-sizing: border-box;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #80bdff;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
      }
    }
    .checkbox-input {
      width: 30px;
      height: 20px;
    }

    .custom-input {
      width: 100%;
      padding: 0; // Reset padding if needed
    }

    .submin-majortest {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 8px;
      background-color: #007bff;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      margin-top: 20px;
      padding: 0 16px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #0056b3;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
