.table-container {
  th {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  td {
    padding: 0 20px !important;
  }
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  div {
    display: flex;
    align-items: center;
  }

  p {
    margin-top: auto !important;
  }
}
