.signup-container {
  // height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .signup-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border-radius: 10px;
    // background-color: #e8eff5;
    background: linear-gradient(120deg, #f5f7fa 0%, #c3cfe2 100%);
    // background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 0 0 5px 2px #cdc1ff;
    width: 90%;
    max-width: 500px;
  }
}
